*{
  background-color:white;
  color:black;
}
.title {
  color: #02ccba;
  font-size:200px;
  text-align: center;
}
.main{
  text-alogn:center;
}
.menber-name img{
  width: 150px;
}
.menber-name h1{
  padding-top:20px;
  text-align:center;
  font-size:50px;

}
menber-name p{
  font-size:24px;

@media(max-width:670px)
  .menber-name {
    width:50%;
